export MACHINE_DRIVER=openstack

export OS_AUTH_URL=https://identity.tyo1.conoha.io/v2.0
export OS_FLAVOR_NAME=g-512mb
export OS_IMAGE_NAME=vmi-docker-17.06-ubuntu-16.04-unified-20gb
export OS_REGION_NAME=tyo1
export OS_SECURITY_GROUPS=default,docker,gncs-ipv4-ssh,gncs-ipv4-web,gncs-ipv6-ssh,gncs-ipv6-web
